.single-cat-widget {
    position: relative;
    text-align: center;
}

.single-cat-widget .overlay-bg {
    background: rgba(0, 0, 0, 0.85);
    margin: 7%;
    transition: all 0.4s ease 0s;
}

.single-cat-widget img {
    width: 100%;
}
.single-cat-widget .content-details {
    top: 25%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    bottom: 0px;
    position: absolute;
}

.single-cat-widget .content-details h4 {
    color: #ffffff;
    margin-bottom: 0;
}

.single-cat-widget .content-details span {
    display: inline-block;
    background: #ffffff;
    width: 60%;
    height: 1%;
}

.single-cat-widget .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.single-cat-widget:hover .overlay-bg {
    background: rgba(186, 146, 54, 0.85);
    margin: 7%;
    transition: all 0.4s ease 0s;
}
.steve {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #c8a97e;
    color: white;
    text-align: center;
}
.steve p {
    position: absolute;
    width: 100%;
    background-color: #c8a97e;
    color: white;
    text-align: center;
}
@media only screen and (max-width: 992px) {
    .insta {
        display: none;
    }
    .ftco-footer .ftco-heading-2 {
        margin-left: 0;
    }
    .myr {
        margin-left: 0;
    }

    .ftco-footer .subscribe-form .form-group {
        margin-left: 0;
    }
    .review {
        margin-top: 50px;
    }
    .intro_content {
        width: 450px;
        right: 5px;
    }
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
        display: none;
    }
    .navbar-brand {
        display: none;
    }

    .owl-carousel.home-slider .slider-item .slider-text .subheading {
        font-size: 40px;
        color: #c8a97e;
        font-weight: normal;
        margin-bottom: 0;
        line-height: 1;
        font-family: "Great Vibes", cursive;
    }

    .owl-carousel.home-slider .slider-item .slider-text h1 {
        font-size: 30px;
        color: #ffffff;
        font-weight: 600;
        margin-bottom: 0;
        line-height: 1.5;
        letter-spacing: 4px;
        text-transform: uppercase;
        font-family: "Poppins", cursive;
    }
    .featured .featured-menus .text h3 {
        font-size: 10px;
        display: none;
    }

    .featured .featured-menus .text p {
        font-size: 5px;
        display: none;
    }
    .featured .featured-menus .menu-img {
        width: 30px;
        height: 30px;
        display: none;
    }
    .featured {
        border-top: none;
    }
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: #c8a97e;
        font-size: 1rem;
    }

}
.ftco-animate {
    opacity: 0;
    visibility: hidden;
}
.bg-light {
    background: #fafafa !important;
}

.heading-section .subheading {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    font-weight: normal;
    font-size: 100px;
    display: block;
    margin-bottom: 0;
    color: #c8a97e;
    line-height: 1;
    margin-top: 0;
    z-index: -1;
    font-family: "Great Vibes", cursive;
}

.heading-section h2 {
    font-size: 50px;
    font-weight: 900;
    line-height: 1.2;
}

